@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap");
::ng-deep * {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", sans-serif;
}

.main {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: hsl(250, 15%, 8%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.heading {
  font-size: 1.2em;
  color: hsl(251, 7%, 54%);
}

.password__input-container {
  position: relative;
}

.duplicate__icon {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.password__input {
  width: 25rem;
  padding: 1rem 2rem;
  font-size: 2em;
  color: hsl(248, 5%, 34%);
  background-color: hsl(248, 10%, 15%);
  border: none;
  outline: none;
}

.password__select {
  width: 25rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: hsl(248, 10%, 15%);
}

.character__input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: hsl(247, 16%, 89%);
}

.character__input_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.character__num {
  font-size: 1.8rem;
  color: hsl(133, 100%, 88%);
}

input[type="range"] {
  accent-color: hsl(133, 100%, 88%);
}

.checkbox__inputs {
  display: flex;
  gap: 1rem;
  color: hsl(247, 16%, 89%);
}

input[type="checkbox"] {
  width: 1.3rem;
  height: 1.3rem;
}

input[type="checkbox"]:checked {
  accent-color: hsl(133, 100%, 88%);
}

.strength {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(248, 15%, 11%);
  color: hsl(250, 8%, 56%);
}

.strength__bar {
  display: flex;
  gap: 0.5rem;
}

.strength__bar_item {
  width: 0.3rem;
  height: 1.3rem;
  border: 2px solid hsl(248, 27%, 94%);
}

.active {
  background-color: hsl(133, 100%, 88%);
}

.generate {
  padding: 1.5rem 2rem;
  background-color: hsl(133, 100%, 88%);
  border: none;
  font-size: 1rem;
  color: hsl(128, 100%, 5%);
  cursor: pointer;
}

.generate:active {
  background-color: hsl(133, 100%, 88%, 0.8);
}
